/*body{
    background-image: url("afrik.jpg");
    height: 200px;
     background-repeat: repeat;
     background-position: center;
    }*/
    .frame{ text-align: center;}
     .image-center{
    text-align:center;
}
.image{
    width:500px;
    height:200px;
    border-radius: 100%;
    
}
.nom{
    text-align: center;font-weight:bold;
}
.description{
    text-align: center;
}
p{text-align: center;}
.what{text-align: right;}

.icon{height: 30px;}

.autre{ border-bottom: 4px lightgray ;
}
h3{text-decoration: underline;}
.autre{margin: 5px;}
