body{
    background-image: url("images\ \(4\).jpg");
    background-repeat: no-repeat;
    /*height: 200px;
     background-repeat: repeat;
     background-position: center;
   
    }
    .premier{
        background-image: url("images\ \(4\).jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .frame{ text-align: center;}
     .image-center{
    text-align:center;
}
.image{
    padding-top: 20px;
    width:200px;
    height:200px;
    border-radius: 100%;
    
}
.nom{
    text-align: center;font-weight:bold;
}
.description{
    text-align: center;
}
p{text-align: center;}
.what{text-align: right;}

.icon{height: 30px;}

.autre{ border-bottom: 4px lightgray ;
}
h3{text-decoration: underline;
font-family:cursive;
font-style:italic;}
.autre{margin: 5px;}
.premier{color: white;}
